body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1{
    text-align: center;
  }
  .align-right {
    text-align: right;
  }
  
  .text-area {
    margin-bottom: 20px;
  }
  
  .text-area h2 {
    margin-top: 0;
  }
  
  .text-area textarea {
    width: 100%;
    height: 200px;
    resize: none;
  }
  
  .word-count {
    margin-top: 5px;
    font-size: 14px;
    color: #888;
  }
  
  .download{
    text-align: right;
    margin-top: 20px;
  }
  

  .timer {
    text-align: right;
    margin-top: 30%;
    position: absolute;
    top: 30%;
    right: 2%;
  }
  .timer p {
    font-size: 18px;
    font-weight: bold;
    color: #888;
  }
  
  
  @media (max-width: 600px) {
    .text-area textarea {
      height: 80px;
    }
    .timer {
        position: static;
        text-align: center;
        margin-top: 20px;
      }
  }